Repository chrischeng-c4/ouroboros: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

bandit:
  name: bandit
  entry: bandit -c .bandit.yaml -r python/data_bridge
  language: system
  pass_filenames: false

docs(openspec): archive 3 completed proposals (PostgreSQL docs, GCP observability, Postgres prerelease)
  openspec/changes/.archive/COMPLETION_SUMMARY_2026-01-13.md
  openspec/changes/.archive/add-postgres-documentation/proposal.md
  openspec/changes/.archive/add-postgres-documentation/specs/postgres-orm/spec.md
  openspec/changes/.archive/add-postgres-documentation/tasks.md
  openspec/changes/.archive/add-pyloop-gcp-observability/design.md
  openspec/changes/.archive/add-pyloop-gcp-observability/proposal.md
  openspec/changes/.archive/add-pyloop-gcp-observability/specs/observability-gcp/spec.md
  openspec/changes/.archive/add-pyloop-gcp-observability/tasks.md
  openspec/changes/.archive/prepare-postgres-prerelease/proposal.md
  openspec/changes/.archive/prepare-postgres-prerelease/specs/postgres-orm/spec.md
  openspec/changes/.archive/prepare-postgres-prerelease/tasks.md
Due: none

feat(api): complete Phase 5 PyLoop integration - migrate from thread-local asyncio to single Rust-native event loop
  crates/data-bridge-api/src/python_handler.rs
  crates/data-bridge-pyloop/src/loop_impl.rs
  crates/data-bridge/Cargo.toml
  crates/data-bridge/src/api.rs
  openspec/changes/optimize-api-performance/tasks.md
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

fix(api): correct dict response detection logic - use 'body' key as marker
  crates/data-bridge-api/src/python_handler.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

perf(pyloop): implement Phase 2 native coroutine execution - remove asyncio workaround
  crates/data-bridge-pyloop/src/loop_impl.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

docs(openspec): update optimize-api-performance with PyLoop integration and final results
  openspec/changes/optimize-api-performance/design.md
  openspec/changes/optimize-api-performance/proposal.md
  openspec/changes/optimize-api-performance/tasks.md
Due: none

docs(openspec): add proposal for advanced API features
  crates/data-bridge-api/TODOS.md
  openspec/changes/add-api-advanced-features/proposal.md
  openspec/changes/add-api-advanced-features/specs/api-server/spec.md
  openspec/changes/add-api-advanced-features/tasks.md
Due: none

docs(openspec): archive optimize-api-performance proposal
  openspec/changes/archive/2026-01-13-optimize-api-performance/design.md
  openspec/changes/archive/2026-01-13-optimize-api-performance/gemini-research.md
  openspec/changes/archive/2026-01-13-optimize-api-performance/gpt-research.md
  openspec/changes/archive/2026-01-13-optimize-api-performance/hooks-implementation-summary.md
  openspec/changes/archive/2026-01-13-optimize-api-performance/proposal.md
  openspec/changes/archive/2026-01-13-optimize-api-performance/specs/api-server/spec.md
  openspec/changes/archive/2026-01-13-optimize-api-performance/tasks.md
  openspec/specs/api-server/spec.md
Due: none

feat(api): add advanced features - extractors, WebSocket, and SSE support
  Cargo.lock
  Cargo.toml
  crates/data-bridge-api/Cargo.toml
  crates/data-bridge-api/examples/sse_example.rs
  crates/data-bridge-api/src/extractors.rs
  crates/data-bridge-api/src/lib.rs
  crates/data-bridge-api/src/router.rs
  crates/data-bridge-api/src/server.rs
  crates/data-bridge-api/src/sse.rs
  crates/data-bridge-api/src/websocket.rs
  docs/api/sse.md
  examples/api_sse_example.py
  openspec/changes/add-api-advanced-features/tasks.md
  python/data_bridge/api/__init__.py
  python/data_bridge/api/app.py
  python/data_bridge/api/exceptions.py
  python/data_bridge/api/response.py
  python/data_bridge/api/sse.py
  python/data_bridge/api/websocket.py
  python/data_bridge/common/http.py
  tests/api/test_sse.py
  tests/api/test_sse_integration.py
  tests/api/test_websocket.py
  tests/unit/test_middleware.py
  uv.lock
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

chore(openspec): archive add-api-advanced-features
  openspec/changes/.archive/add-api-advanced-features/proposal.md
  openspec/changes/.archive/add-api-advanced-features/specs/api-server/spec.md
  openspec/changes/.archive/add-api-advanced-features/tasks.md
Due: none

chore: remove explorer/implementer agents, use Gemini instead
  .claude/agents/explorer.md
  .claude/agents/implementer.md
  CLAUDE.md
Due: none

chore: simplify CLAUDE.md for OpenSpec workflow
  CLAUDE.md
Due: none

docs: specify data-bridge-test as default test framework
  CLAUDE.md
Due: none

feat(openspec): add proposal for data-bridge CLI scaffolding tool
  openspec/changes/add-data-bridge-cli/proposal.md
  openspec/changes/add-data-bridge-cli/specs/cli-scaffold/spec.md
  openspec/changes/add-data-bridge-cli/tasks.md
Due: none

chore: remove temporary verification scripts
  test_rust_server.py
  verify-frontend-migration.sh
  verify_phase5.py
Due: bandit

fix(ci): fix release workflow for Windows and remove ARM64 Linux
  .github/workflows/release.yml
Due: none

fix(ci): install openssl-devel for Linux build
  .github/workflows/release.yml
Due: none

fix: add libc dependency to data-bridge-test
  crates/data-bridge-test/Cargo.toml
Due: cargo-audit, cargo-deny

fix(ci): remove deprecated macOS x86_64 build
  .github/workflows/release.yml
Due: none

feat(add-rust-objectid): add OpenSpec proposal for Rust ObjectId
  openspec/changes/add-rust-objectid/proposal.md
  openspec/changes/add-rust-objectid/specs/data-types-objectid/spec.md
  openspec/changes/add-rust-objectid/tasks.md
Due: none

feat(add-rust-objectid): implement Rust ObjectId exposed to Python
  crates/data-bridge/src/conversion.rs
  crates/data-bridge/src/lib.rs
  crates/data-bridge/src/types.rs
  openspec/changes/add-rust-objectid/tasks.md
  python/ouroboros/__init__.py
  python/ouroboros/mongodb/links.py
  python/ouroboros/mongodb/types.py
  python/tests/mongo/unit/test_types.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

chore: update lock files
  Cargo.lock
  uv.lock
Due: cargo-audit

feat(add-rust-objectid): add PydanticObjectId query support and zero runtime deps
  crates/data-bridge-api/src/sse.rs
  crates/data-bridge-kv/benches/batch_operations.rs
  crates/data-bridge-kv/examples/diagnose_contention.rs
  crates/data-bridge-kv/src/persistence/handle.rs
  crates/data-bridge-kv/src/persistence/recovery.rs
  crates/data-bridge-kv/src/persistence/wal.rs
  crates/data-bridge/src/conversion.rs
  pyproject.toml
  uv.lock
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

chore(openspec): archive add-rust-objectid change
  openspec/changes/.archive/add-rust-objectid/proposal.md
  openspec/changes/.archive/add-rust-objectid/specs/data-types-objectid/spec.md
  openspec/changes/.archive/add-rust-objectid/tasks.md
  openspec/specs/data-types-objectid/spec.md
Due: none

feat: add ouroboros.validation module and rebrand README
  README.md
  crates/data-bridge/src/api.rs
  openspec/changes/complete-api-basemodel/design.md
  openspec/changes/complete-api-basemodel/proposal.md
  openspec/changes/complete-api-basemodel/specs/api-server/spec.md
  openspec/changes/complete-api-basemodel/tasks.md
  openspec/changes/rewrite-readme/proposal.md
  openspec/changes/rewrite-readme/specs/project-documentation/spec.md
  openspec/changes/rewrite-readme/tasks.md
  python/ouroboros/api/__init__.py
  python/ouroboros/api/app.py
  python/ouroboros/api/models.py
  python/ouroboros/validation/__init__.py
  python/ouroboros/validation/models.py
  python/tests/validation/__init__.py
  python/tests/validation/test_annotated.py
  python/tests/validation/test_nested_validation.py
  python/tests/validation/test_response_model.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(postgres): add fetch_links parameter for eager loading
  openspec/changes/fix-postgres-eager-loading-spec/proposal.md
  openspec/changes/fix-postgres-eager-loading-spec/specs/postgres-orm/spec.md
  openspec/changes/fix-postgres-eager-loading-spec/tasks.md
  python/ouroboros/postgres/table.py
  python/tests/postgres/unit/test_fetch_links.py
Due: bandit

feat(test): migrate postgres tests to ob-test framework
  crates/data-bridge/src/test.rs
  openspec/changes/migrate-pg-tests-to-obtest/proposal.md
  openspec/changes/migrate-pg-tests-to-obtest/specs/test-framework/spec.md
  openspec/changes/migrate-pg-tests-to-obtest/tasks.md
  python/tests/postgres/base.py
  python/tests/postgres/integration/test_smoke.py
  python/tests/postgres/unit/__init__.py
  python/tests/postgres/unit/conftest.py
  python/tests/postgres/unit/test_aggregate.py
  python/tests/postgres/unit/test_async_utils.py
  python/tests/postgres/unit/test_autogenerate_migration.py
  python/tests/postgres/unit/test_column_cascade.py
  python/tests/postgres/unit/test_columns.py
  python/tests/postgres/unit/test_computed.py
  python/tests/postgres/unit/test_connection.py
  python/tests/postgres/unit/test_crud_operations.py
  python/tests/postgres/unit/test_events.py
  python/tests/postgres/unit/test_execute.py
  python/tests/postgres/unit/test_fetch_links.py
  python/tests/postgres/unit/test_inheritance.py
  python/tests/postgres/unit/test_loading.py
  python/tests/postgres/unit/test_pg_extensions_unit.py
  python/tests/postgres/unit/test_query_builder.py
  python/tests/postgres/unit/test_query_ext.py
  python/tests/postgres/unit/test_relationship_descriptor.py
  python/tests/postgres/unit/test_schema_introspection.py
  python/tests/postgres/unit/test_security.py
  python/tests/postgres/unit/test_session.py
  python/tests/postgres/unit/test_table.py
  python/tests/postgres/unit/test_validation.py
  python/tests/unit/test_expect_to_raise.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

fix(test): handle async hooks in running event loop
  crates/data-bridge/src/test.rs
  python/tests/postgres/base.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

fix(test): simplify PostgresSuite for working async tests
  python/tests/postgres/base.py
  python/tests/postgres/integration/test_smoke.py
Due: bandit

feat(cli): create ouroboros-cli crate with ob command
  Cargo.lock
  Cargo.toml
  crates/ouroboros-cli/Cargo.toml
  crates/ouroboros-cli/src/main.rs
  openspec/changes/add-unified-cli-and-qc/tasks.md
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(cli): implement ob qc run/collect with PyO3 embedded Python
  Cargo.lock
  crates/ouroboros-cli/Cargo.toml
  crates/ouroboros-cli/build.rs
  crates/ouroboros-cli/src/main.rs
  openspec/changes/add-unified-cli-and-qc/tasks.md
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(cli): add ob qc migrate command for pytest to TestSuite migration
  crates/ouroboros-cli/src/main.rs
  python/tools/migrate_to_ouroboros_test.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(qc): add @fixture decorator and coverage CI mode
  Cargo.lock
  crates/ouroboros-cli/Cargo.toml
  crates/ouroboros-cli/src/main.rs
  crates/ouroboros-qc/src/lib.rs
  crates/ouroboros-qc/src/reporter.rs
  openspec/changes/add-fixture-decorator/proposal.md
  openspec/changes/add-fixture-decorator/specs/testing-fixtures/spec.md
  openspec/changes/add-fixture-decorator/tasks.md
  python/ouroboros/qc/suite.py
  python/tests/test_fixtures_runtime.py
  python/tools/migrate_to_ouroboros_test.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(qc): fix async hooks and migrate postgres tests to TestSuite
  crates/ouroboros/src/qc.rs
  openspec/changes/add-unified-cli-and-qc/tasks.md
  openspec/changes/migrate-pg-tests-to-obtest/tasks.md
  python/tests/postgres/benchmarks/test_postgres_benchmarks.py
  python/tests/postgres/integration/test_aggregate_integration.py
  python/tests/postgres/integration/test_backreference.py
  python/tests/postgres/integration/test_cascade_delete.py
  python/tests/postgres/integration/test_cte_integration.py
  python/tests/postgres/integration/test_distinct_integration.py
  python/tests/postgres/integration/test_eager_loading.py
  python/tests/postgres/integration/test_execute_integration.py
  python/tests/postgres/integration/test_insert.py
  python/tests/postgres/integration/test_jsonb_integration.py
  python/tests/postgres/integration/test_lazy_loading.py
  python/tests/postgres/integration/test_m2m_integration.py
  python/tests/postgres/integration/test_pg_extensions.py
  python/tests/postgres/integration/test_relationships.py
  python/tests/postgres/integration/test_returning_integration.py
  python/tests/postgres/integration/test_savepoints.py
  python/tests/postgres/integration/test_set_operations_integration.py
  python/tests/postgres/integration/test_subquery.py
  python/tests/postgres/integration/test_transaction.py
  python/tests/postgres/integration/test_upsert.py
  python/tests/postgres/integration/test_window_integration.py
  python/tests/postgres/test_telemetry.py
  python/tests/test_hooks.py
  python/tests/test_hooks_comprehensive.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

chore(openspec): archive add-unified-cli-and-qc, add-fixture-decorator
  openspec/changes/.archive/add-fixture-decorator/proposal.md
  openspec/changes/.archive/add-fixture-decorator/specs/testing-fixtures/spec.md
  openspec/changes/.archive/add-fixture-decorator/tasks.md
  openspec/changes/.archive/add-unified-cli-and-qc/proposal.md
  openspec/changes/.archive/add-unified-cli-and-qc/specs/cli-core/spec.md
  openspec/changes/.archive/add-unified-cli-and-qc/specs/quality-control/spec.md
  openspec/changes/.archive/add-unified-cli-and-qc/specs/test-framework/spec.md
  openspec/changes/.archive/add-unified-cli-and-qc/tasks.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-audit: any of: \.rs$|Cargo\.toml$|Cargo\.lock$
  cargo-deny: any of: \.rs$|Cargo\.toml$
  bandit: any of: \.py$
