Repository chrischeng-c4/ouroboros: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

.pre-commit-config.yaml:

# Pre-commit hooks for security scanning
# Install: pre-commit install
# Run: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        files: \.rs$|Cargo\.toml$|Cargo\.lock$

      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        pass_filenames: false
        files: \.rs$|Cargo\.toml$

      - id: bandit
        name: bandit
        entry: bandit -c .bandit.yaml -r python/data_bridge
        language: system
        pass_filenames: false
        types: [python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-redis
          - pydantic
        args: [--config-file=pyproject.toml, python/data_bridge/]
        pass_filenames: false

chore(openspec): archive complete-api-basemodel, fix-postgres-eager-loading-spec, rewrite-readme
  openspec/changes/.archive/complete-api-basemodel/design.md
  openspec/changes/.archive/complete-api-basemodel/proposal.md
  openspec/changes/.archive/complete-api-basemodel/specs/api-server/spec.md
  openspec/changes/.archive/complete-api-basemodel/tasks.md
  openspec/changes/.archive/fix-postgres-eager-loading-spec/proposal.md
  openspec/changes/.archive/fix-postgres-eager-loading-spec/specs/postgres-orm/spec.md
  openspec/changes/.archive/fix-postgres-eager-loading-spec/tasks.md
  openspec/changes/.archive/rewrite-readme/proposal.md
  openspec/changes/.archive/rewrite-readme/specs/project-documentation/spec.md
  openspec/changes/.archive/rewrite-readme/tasks.md
Due: none

chore(openspec): remove add-data-bridge-cli, clean-markdown-organization (not started)
  openspec/changes/add-data-bridge-cli/proposal.md
  openspec/changes/add-data-bridge-cli/specs/cli-scaffold/spec.md
  openspec/changes/add-data-bridge-cli/tasks.md
  openspec/changes/clean-markdown-organization/design.md
  openspec/changes/clean-markdown-organization/proposal.md
  openspec/changes/clean-markdown-organization/specs/spreadsheet-engine/spec.md
  openspec/changes/clean-markdown-organization/tasks.md
Due: none

feat(qc): fix hook registry event loop and complete postgres test migration
  crates/ouroboros-cli/src/main.rs
  crates/ouroboros/src/qc.rs
  justfile
  openspec/changes/.archive/migrate-pg-tests-to-obtest/proposal.md
  openspec/changes/.archive/migrate-pg-tests-to-obtest/specs/test-framework/spec.md
  openspec/changes/.archive/migrate-pg-tests-to-obtest/tasks.md
  python/tests/postgres/base.py
  python/tests/postgres/benchmarks/test_postgres_benchmarks.py
  python/tests/postgres/integration/test_aggregate_integration.py
  python/tests/postgres/integration/test_backreference.py
  python/tests/postgres/integration/test_cascade_delete.py
  python/tests/postgres/integration/test_cte_integration.py
  python/tests/postgres/integration/test_distinct_integration.py
  python/tests/postgres/integration/test_eager_loading.py
  python/tests/postgres/integration/test_execute_integration.py
  python/tests/postgres/integration/test_insert.py
  python/tests/postgres/integration/test_jsonb_integration.py
  python/tests/postgres/integration/test_lazy_loading.py
  python/tests/postgres/integration/test_pg_extensions.py
  python/tests/postgres/integration/test_relationships.py
  python/tests/postgres/integration/test_returning_integration.py
  python/tests/postgres/integration/test_savepoints.py
  python/tests/postgres/integration/test_set_operations_integration.py
  python/tests/postgres/integration/test_subquery.py
  python/tests/postgres/integration/test_transaction.py
  python/tests/postgres/integration/test_upsert.py
  python/tests/postgres/integration/test_window_integration.py
  python/tests/postgres/test_telemetry.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(argus): add type system with generics, narrowing, imports, and stubs
  Cargo.lock
  Cargo.toml
  crates/argus/Cargo.toml
  crates/argus/src/core/config.rs
  crates/argus/src/core/mod.rs
  crates/argus/src/diagnostic.rs
  crates/argus/src/lib.rs
  crates/argus/src/lint/mod.rs
  crates/argus/src/lint/python.rs
  crates/argus/src/lint/rust_checker.rs
  crates/argus/src/lint/typescript.rs
  crates/argus/src/lsp/mod.rs
  crates/argus/src/lsp/server.rs
  crates/argus/src/output.rs
  crates/argus/src/semantic/mod.rs
  crates/argus/src/semantic/scope.rs
  crates/argus/src/semantic/symbols.rs
  crates/argus/src/syntax/mod.rs
  crates/argus/src/syntax/parser.rs
  crates/argus/src/types/check.rs
  crates/argus/src/types/imports.rs
  crates/argus/src/types/infer.rs
  crates/argus/src/types/mod.rs
  crates/argus/src/types/narrow.rs
  crates/argus/src/types/stubs.rs
  crates/argus/src/types/ty.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): integrate type narrowing and import resolution
  crates/argus/src/types/check.rs
  crates/argus/src/types/infer.rs
  crates/argus/src/types/narrow.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): add stub integration and class inheritance support
  crates/argus/src/types/check.rs
  crates/argus/src/types/imports.rs
  crates/argus/src/types/infer.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): add generic type inference via unification
  crates/argus/src/types/infer.rs
  crates/argus/src/types/ty.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): add hasattr and callable type narrowing
  crates/argus/src/types/narrow.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): add Protocol type for structural subtyping
  crates/argus/src/types/check.rs
  crates/argus/src/types/ty.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): add Literal type assignability and tests
  crates/argus/src/types/check.rs
  crates/argus/src/types/ty.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): add TypedDict type support
  crates/argus/src/types/check.rs
  crates/argus/src/types/stubs.rs
  crates/argus/src/types/ty.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

refactor(argus): extract ClassInfo and TypeEnv from infer.rs
  crates/argus/src/types/class_info.rs
  crates/argus/src/types/infer.rs
  crates/argus/src/types/mod.rs
  crates/argus/src/types/type_env.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

refactor(argus): split large type modules to meet file size guideline
  crates/argus/src/types/annotation.rs
  crates/argus/src/types/builtins.rs
  crates/argus/src/types/check.rs
  crates/argus/src/types/check_tests.rs
  crates/argus/src/types/infer.rs
  crates/argus/src/types/infer_tests.rs
  crates/argus/src/types/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): add Phase 1 type system features
  .claude/skills/agentd-archive/SKILL.md
  .claude/skills/agentd-challenge/SKILL.md
  .claude/skills/agentd-fix/SKILL.md
  .claude/skills/agentd-impl/SKILL.md
  .claude/skills/agentd-implement/SKILL.md
  .claude/skills/agentd-plan/SKILL.md
  .claude/skills/agentd-proposal/SKILL.md
  .claude/skills/agentd-reproposal/SKILL.md
  .claude/skills/agentd-review/SKILL.md
  CLAUDE.md
  agentd/.version
  crates/argus/src/types/annotation.rs
  crates/argus/src/types/check.rs
  crates/argus/src/types/infer.rs
  crates/argus/src/types/stubs.rs
  crates/argus/src/types/ty.rs
  crates/argus/src/types/ty_tests.rs
  crates/ouroboros-cli/Cargo.toml
  crates/ouroboros-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): add Phase B advanced type narrowing (PEP 647, 742, 634)
  crates/argus/src/types/annotation.rs
  crates/argus/src/types/narrow.rs
  crates/argus/src/types/narrow_tests.rs
  crates/argus/src/types/stubs.rs
  crates/argus/src/types/ty.rs
  crates/argus/src/types/ty_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): add Phase C stub system and typeshed integration
  crates/argus/src/types/mod.rs
  crates/argus/src/types/stubs.rs
  crates/argus/src/types/typeshed.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): add Phase D cross-file analysis and project support
  crates/argus/src/types/mod.rs
  crates/argus/src/types/modules.rs
  crates/argus/src/types/project.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): add Phase E incremental analysis and parallel processing
  crates/argus/Cargo.toml
  crates/argus/src/types/cache.rs
  crates/argus/src/types/mod.rs
  crates/argus/src/types/project.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): add Phase F LSP completions and type integration
  crates/argus/src/lsp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): add Phase G polish (dataclass, NamedTuple, property, config)
  Cargo.lock
  crates/argus/Cargo.toml
  crates/argus/src/types/config.rs
  crates/argus/src/types/infer.rs
  crates/argus/src/types/infer_tests.rs
  crates/argus/src/types/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

chore(agentd): update workflow configs and add project files
  .claude/skills/agentd-plan/SKILL.md
  .gemini/commands/agentd/fillback.toml
  agentd/.version
  agentd/config.toml
  agentd/project.md
Due: none

feat(argus): add variance checking, file watcher, and error recovery
  Cargo.lock
  crates/argus/Cargo.toml
  crates/argus/src/lib.rs
  crates/argus/src/semantic/mod.rs
  crates/argus/src/semantic/symbols.rs
  crates/argus/src/semantic/tests.rs
  crates/argus/src/syntax/mod.rs
  crates/argus/src/syntax/parser.rs
  crates/argus/src/types/check.rs
  crates/argus/src/types/class_info.rs
  crates/argus/src/types/config.rs
  crates/argus/src/types/infer.rs
  crates/argus/src/types/mod.rs
  crates/argus/src/types/modules.rs
  crates/argus/src/types/ty.rs
  crates/argus/src/types/typeshed.rs
  crates/argus/src/watch.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): add daemon server and MCP integration
  crates/argus/src/lib.rs
  crates/argus/src/mcp/mod.rs
  crates/argus/src/mcp/server.rs
  crates/argus/src/mcp/tools.rs
  crates/argus/src/server/daemon.rs
  crates/argus/src/server/handler.rs
  crates/argus/src/server/mod.rs
  crates/argus/src/server/protocol.rs
  crates/ouroboros-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

chore(agentd): add change specs for complete-argus-parity
  agentd/changes/complete-argus-parity-2/AGENTS.md
  agentd/changes/complete-argus-parity-2/CHALLENGE.md
  agentd/changes/complete-argus-parity-2/GEMINI.md
  agentd/changes/complete-argus-parity-2/STATE.yaml
  agentd/changes/complete-argus-parity-2/proposal.md
  agentd/changes/complete-argus-parity-2/specs/_skeleton.md
  agentd/changes/complete-argus-parity-2/specs/advanced-lsp.md
  agentd/changes/complete-argus-parity-2/specs/dynamic-typeshed.md
  agentd/changes/complete-argus-parity-2/specs/error-recovery.md
  agentd/changes/complete-argus-parity-2/specs/generic-inference.md
  agentd/changes/complete-argus-parity-2/specs/variance-checking.md
  agentd/changes/complete-argus-parity-2/specs/watch-mode.md
  agentd/changes/complete-argus-parity-2/tasks.md
  agentd/changes/complete-argus-parity/clarifications.md
Due: none

chore: remove orphaned changes/archive directory
  changes/archive/2026-01-16-split-big-file/CHALLENGE.md
  changes/archive/2026-01-16-split-big-file/proposal.md
  changes/archive/2026-01-16-split-big-file/specs/split-strategy.md
  changes/archive/2026-01-16-split-big-file/tasks.md
Due: none

feat(ob-pg): production readiness improvements
  agentd/changes/ob-pg-prod-ready-2/AGENTS.md
  agentd/changes/ob-pg-prod-ready-2/CHALLENGE.md
  agentd/changes/ob-pg-prod-ready-2/GEMINI.md
  agentd/changes/ob-pg-prod-ready-2/IMPLEMENTATION.md
  agentd/changes/ob-pg-prod-ready-2/REVIEW.md
  agentd/changes/ob-pg-prod-ready-2/STATE.yaml
  agentd/changes/ob-pg-prod-ready-2/proposal.md
  agentd/changes/ob-pg-prod-ready-2/specs/_skeleton.md
  agentd/changes/ob-pg-prod-ready-2/specs/advanced_query.md
  agentd/changes/ob-pg-prod-ready-2/specs/correctness.md
  agentd/changes/ob-pg-prod-ready-2/specs/features.md
  agentd/changes/ob-pg-prod-ready-2/specs/observability.md
  agentd/changes/ob-pg-prod-ready-2/specs/performance.md
  agentd/changes/ob-pg-prod-ready-2/specs/robustness.md
  agentd/changes/ob-pg-prod-ready-2/specs/safety.md
  agentd/changes/ob-pg-prod-ready-2/tasks.md
  agentd/changes/ob-pg-prod-ready/clarifications.md
  crates/ouroboros-common/src/error.rs
  crates/ouroboros-postgres/src/connection.rs
  crates/ouroboros-postgres/src/executor.rs
  crates/ouroboros-postgres/src/lib.rs
  crates/ouroboros-postgres/src/query/builder.rs
  crates/ouroboros-postgres/src/query/helpers.rs
  crates/ouroboros-postgres/src/query/modify.rs
  crates/ouroboros-postgres/src/query/select.rs
  crates/ouroboros-postgres/src/query/types.rs
  crates/ouroboros-postgres/src/transaction.rs
  crates/ouroboros/src/postgres/connection.rs
  crates/ouroboros/src/postgres/conversion.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(validation): extract unified validation crate with Python bindings
  Cargo.lock
  Cargo.toml
  crates/ouroboros-api/Cargo.toml
  crates/ouroboros-api/examples/openapi_example.rs
  crates/ouroboros-api/examples/validation_example.rs
  crates/ouroboros-api/src/openapi.rs
  crates/ouroboros-api/src/validation.rs
  crates/ouroboros-mongodb/Cargo.toml
  crates/ouroboros-mongodb/src/lib.rs
  crates/ouroboros-mongodb/src/validation.rs
  crates/ouroboros-validation/Cargo.toml
  crates/ouroboros-validation/METRICS.md
  crates/ouroboros-validation/README.md
  crates/ouroboros-validation/examples/python_usage.py
  crates/ouroboros-validation/src/constraints.rs
  crates/ouroboros-validation/src/errors.rs
  crates/ouroboros-validation/src/formats.rs
  crates/ouroboros-validation/src/lib.rs
  crates/ouroboros-validation/src/python.rs
  crates/ouroboros-validation/src/types.rs
  crates/ouroboros-validation/src/validators.rs
  crates/ouroboros-validation/tests/validation_tests.rs
  crates/ouroboros/Cargo.toml
  crates/ouroboros/src/lib.rs
  crates/ouroboros/src/mongodb/connection.rs
  crates/ouroboros/src/mongodb/document.rs
  crates/ouroboros/src/mongodb/mod.rs
  crates/ouroboros/src/mongodb/validation.rs
  crates/ouroboros/src/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

fix(ob-pg): resolve integration test failures for production readiness
  crates/ouroboros-postgres/src/query/builder.rs
  crates/ouroboros-postgres/src/query/select.rs
  crates/ouroboros-postgres/src/row.rs
  crates/ouroboros/src/postgres/conversion.rs
  crates/ouroboros/src/postgres/wrappers.rs
  crates/ouroboros/src/qc/assertions.rs
  python/ouroboros/qc/suite.py
  python/tests/postgres/integration/test_aggregate_integration.py
  python/tests/postgres/integration/test_cascade_delete.py
  python/tests/postgres/integration/test_cte_integration.py
  python/tests/postgres/integration/test_distinct_integration.py
  python/tests/postgres/integration/test_eager_loading.py
  python/tests/postgres/integration/test_execute_integration.py
  python/tests/postgres/integration/test_insert.py
  python/tests/postgres/integration/test_jsonb_integration.py
  python/tests/postgres/integration/test_m2m_integration.py
  python/tests/postgres/integration/test_pg_extensions.py
  python/tests/postgres/integration/test_subquery.py
  python/tests/postgres/integration/test_upsert.py
  python/tests/postgres/integration/test_window_integration.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(argus): add Python environment configuration and cross-file import resolution
  crates/argus/src/mcp/tools.rs
  crates/argus/src/types/config.rs
  crates/argus/src/types/env.rs
  crates/argus/src/types/imports.rs
  crates/argus/src/types/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

fix(tests): resolve syntax errors in test files
  python/tests/integration/test_api_di_integration.py
  python/tests/integration/test_constraint_validation.py
  python/tests/integration/test_conversion_semantics.py
  python/tests/kv/test_lock.py
  python/tests/test_hooks_comprehensive.py
Due: bandit

test(argus): add integration tests and test environment setup scripts
  crates/argus/src/types/env.rs
  crates/argus/tests/integration_env_test.rs
  scripts/prepare-test-folder.sh
  scripts/test-argus-env.sh
  tests/fixtures/python-project/pyproject.toml
  tests/fixtures/python-project/src/main.py
  tests/fixtures/python-project/src/models/__init__.py
  tests/fixtures/python-project/src/models/user.py
  tests/fixtures/python-project/src/utils.py
  tests/fixtures/python-project/tests/test_imports.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

chore: ignore test fixture .venv directory
  .gitignore
Due: none

docs(agentd): add spec-driven development workflow artifacts
  agentd/changes/enhanced-type-inference-2/AGENTS.md
  agentd/changes/enhanced-type-inference-2/CHALLENGE.md
  agentd/changes/enhanced-type-inference-2/GEMINI.md
  agentd/changes/enhanced-type-inference-2/IMPLEMENTATION.md
  agentd/changes/enhanced-type-inference-2/REVIEW.md
  agentd/changes/enhanced-type-inference-2/STATE.yaml
  agentd/changes/enhanced-type-inference-2/proposal.md
  agentd/changes/enhanced-type-inference-2/specs/_skeleton.md
  agentd/changes/enhanced-type-inference-2/specs/import-resolution.md
  agentd/changes/enhanced-type-inference-2/specs/mcp-tools.md
  agentd/changes/enhanced-type-inference-2/specs/python-env.md
  agentd/changes/enhanced-type-inference-2/tasks.md
  agentd/changes/enhanced-type-inference/clarifications.md
Due: none

feat(ob-pg): production readiness improvements (#59)
  crates/ouroboros-postgres/src/query/builder.rs
  crates/ouroboros-postgres/src/query/select.rs
  crates/ouroboros-postgres/src/row.rs
  crates/ouroboros/src/postgres/conversion.rs
  crates/ouroboros/src/postgres/wrappers.rs
  crates/ouroboros/src/qc/assertions.rs
  python/ouroboros/qc/suite.py
  python/tests/integration/test_api_di_integration.py
  python/tests/integration/test_constraint_validation.py
  python/tests/integration/test_conversion_semantics.py
  python/tests/kv/test_lock.py
  python/tests/postgres/integration/test_aggregate_integration.py
  python/tests/postgres/integration/test_cascade_delete.py
  python/tests/postgres/integration/test_cte_integration.py
  python/tests/postgres/integration/test_distinct_integration.py
  python/tests/postgres/integration/test_eager_loading.py
  python/tests/postgres/integration/test_execute_integration.py
  python/tests/postgres/integration/test_insert.py
  python/tests/postgres/integration/test_jsonb_integration.py
  python/tests/postgres/integration/test_m2m_integration.py
  python/tests/postgres/integration/test_pg_extensions.py
  python/tests/postgres/integration/test_subquery.py
  python/tests/postgres/integration/test_upsert.py
  python/tests/postgres/integration/test_window_integration.py
  python/tests/test_hooks_comprehensive.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

fix(qc): initialize MongoDB before loading benchmark files
  .claude/skills/bench/SKILL.md
  python/ouroboros/qc/cli.py
  python/tests/mongo/benchmarks/benchmark_setup.py
Due: bandit

feat(validation): add custom validator trait system
  crates/ouroboros-validation/src/custom_validators.rs
  crates/ouroboros-validation/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny
