Repository chrischeng-c4/ouroboros: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

.pre-commit-config.yaml:

# Pre-commit hooks for security scanning
# Install: pre-commit install
# Run: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        files: \.rs$|Cargo\.toml$|Cargo\.lock$

      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        pass_filenames: false
        files: \.rs$|Cargo\.toml$

      - id: bandit
        name: bandit
        entry: bandit -c .bandit.yaml -r python/data_bridge
        language: system
        pass_filenames: false
        types: [python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-redis
          - pydantic
        args: [--config-file=pyproject.toml, python/data_bridge/]
        pass_filenames: false

fix: resolve compilation warnings and update PyO3 API usage
  crates/ouroboros-api/src/cookies.rs
  crates/ouroboros-api/src/openapi.rs
  crates/ouroboros-api/src/python_handler.rs
  crates/ouroboros-api/src/security.rs
  crates/ouroboros-pyloop/src/unix_socket.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

docs(argus): add competitor analysis section to CLAUDE.md
  CLAUDE.md
Due: none

fix: add BSON feature configuration to ouroboros-api
  crates/ouroboros-api/Cargo.toml
Due: cargo-audit, cargo-deny

feat(argus): Complete semantic search implementation (Phase 1)
  CLAUDE.md
  crates/argus/src/lsp/server.rs
  crates/argus/src/types/semantic_search.rs
  crates/argus/tests/test_semantic_search_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

fix: resolve PyO3 linking error in main ouroboros crate (#67)
  .cargo/config.toml
  Cargo.toml
  crates/ouroboros-api/src/openapi.rs
  crates/ouroboros/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(obpg): Add transaction integration tests and fix clippy lints
  crates/ouroboros-postgres/src/history_vis.rs
  crates/ouroboros-postgres/tests/test_transaction.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(obpg): Add transaction integration tests and fix clippy lints (#79)
  crates/ouroboros-postgres/src/history_vis.rs
  crates/ouroboros-postgres/tests/test_transaction.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): Implement framework detection (Phase 2 M2.1)
  crates/argus/src/types/frameworks.rs
  crates/argus/tests/test_framework_detection.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): Implement Django type provider (Phase 2 M2.2)
  crates/argus/src/types/frameworks.rs
  crates/argus/tests/test_django_type_provider.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

fix: resolve test failures in ouroboros-api and ouroboros-pyloop
  crates/ouroboros-api/src/content_negotiation.rs
  crates/ouroboros-pyloop/src/timer_wheel.rs
  crates/ouroboros-pyloop/src/tls.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

chore: auto-fix unused imports and variables with cargo fix
  crates/ouroboros-sheet-db/src/crdt/operations.rs
  crates/ouroboros-sheet-db/src/query/spatial.rs
  crates/ouroboros-sheet-db/src/storage/cell_store.rs
  crates/ouroboros-sheet-db/src/storage/wal.rs
  crates/ouroboros/src/mongodb/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

Complete validation, api, and pyloop final checks - All tests passing (#80)
  .cargo/config.toml
  Cargo.toml
  crates/ouroboros-api/Cargo.toml
  crates/ouroboros-api/src/content_negotiation.rs
  crates/ouroboros-api/src/openapi.rs
  crates/ouroboros-pyloop/src/timer_wheel.rs
  crates/ouroboros-pyloop/src/tls.rs
  crates/ouroboros-sheet-db/src/crdt/operations.rs
  crates/ouroboros-sheet-db/src/query/spatial.rs
  crates/ouroboros-sheet-db/src/storage/cell_store.rs
  crates/ouroboros-sheet-db/src/storage/wal.rs
  crates/ouroboros/Cargo.toml
  crates/ouroboros/src/mongodb/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): Integrate framework support into type inferencer (Phase 2 M2.3)
  crates/argus/src/types/deep_inference.rs
  crates/argus/src/types/frameworks.rs
  crates/argus/src/types/infer.rs
  crates/argus/tests/test_framework_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

fix: resolve clippy lints for sheet crates
  crates/ouroboros-kv/src/lib.rs
  crates/ouroboros-sheet-core/src/cell.rs
  crates/ouroboros-sheet-core/src/chunk.rs
  crates/ouroboros-sheet-core/src/sheet.rs
  crates/ouroboros-sheet-core/src/state/clipboard.rs
  crates/ouroboros-sheet-core/src/state/edit.rs
  crates/ouroboros-sheet-db/src/lib.rs
  crates/ouroboros-sheet-formula/src/dependency.rs
  crates/ouroboros-sheet-formula/src/functions/datetime.rs
  crates/ouroboros-sheet-formula/src/functions/lookup.rs
  crates/ouroboros-sheet-formula/src/functions/math.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): Implement AST integration for refactoring engine (Phase 3 M3.1)
  crates/argus/src/types/mutable_ast.rs
  crates/argus/src/types/refactoring.rs
  crates/argus/tests/test_refactoring_ast.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): Implement extract variable/function refactorings (Phase 3 M3.2)
  crates/argus/src/types/refactoring.rs
  crates/argus/tests/test_refactoring_extract.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): Implement rename symbol refactoring (Phase 3 M3.3)
  crates/argus/src/types/refactoring.rs
  crates/argus/tests/test_refactoring_rename.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): Add Phase 3 M3.4 - Advanced refactoring operations
  crates/argus/src/types/refactoring.rs
  crates/argus/tests/test_refactoring_advanced.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

docs(argus): Update CLAUDE.md with Phase 3 completion status
  CLAUDE.md
Due: none

test(argus): Add Phase 4 M4.1 - P0 integration tests
  crates/argus/tests/test_p0_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

docs(argus): Add comprehensive API documentation for P0 features
  docs/REFACTORING_API.md
  docs/SEMANTIC_SEARCH_API.md
  docs/USAGE_EXAMPLES.md
Due: none

docs(argus): Update CLAUDE.md and add comprehensive docs README
  CLAUDE.md
  docs/README.md
Due: none

feat(argus): Add P1 M5.1 - Package Manager Integration
  CLAUDE.md
  crates/argus/src/types/deep_inference.rs
  crates/argus/src/types/frameworks.rs
  crates/argus/src/types/mod.rs
  crates/argus/src/types/package_managers.rs
  crates/argus/tests/fixtures/package_managers/pip_project/requirements.txt
  crates/argus/tests/fixtures/package_managers/pipenv_project/Pipfile
  crates/argus/tests/fixtures/package_managers/pipenv_project/Pipfile.lock
  crates/argus/tests/fixtures/package_managers/poetry_project/poetry.lock
  crates/argus/tests/fixtures/package_managers/poetry_project/pyproject.toml
  crates/argus/tests/fixtures/package_managers/uv_project/pyproject.toml
  crates/argus/tests/fixtures/package_managers/uv_project/uv.lock
  crates/argus/tests/test_framework_package_manager_integration.rs
  crates/argus/tests/test_package_managers.rs
  docs/README.md
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(cli): add `ob api init` command with K8s probes and metrics
  Cargo.lock
  crates/ouroboros-api/Cargo.toml
  crates/ouroboros-api/README.md
  crates/ouroboros-api/examples/auth_example.rs
  crates/ouroboros-api/examples/lifecycle_example.rs
  crates/ouroboros-api/examples/middleware_example.rs
  crates/ouroboros-api/examples/openapi_example.rs
  crates/ouroboros-api/examples/rate_limit_example.rs
  crates/ouroboros-api/examples/validation_example.rs
  crates/ouroboros-api/examples/websocket_example.rs
  crates/ouroboros-api/src/compression.rs
  crates/ouroboros-api/src/content_negotiation.rs
  crates/ouroboros-api/src/dependency.rs
  crates/ouroboros-api/src/dev_server.rs
  crates/ouroboros-api/src/error.rs
  crates/ouroboros-api/src/lib.rs
  crates/ouroboros-api/src/lifecycle.rs
  crates/ouroboros-api/src/middleware.rs
  crates/ouroboros-api/src/python_handler.rs
  crates/ouroboros-api/src/rate_limit.rs
  crates/ouroboros-api/src/security.rs
  crates/ouroboros-api/src/server.rs
  crates/ouroboros-api/src/static_files.rs
  crates/ouroboros-api/src/validation.rs
  crates/ouroboros-cli/Cargo.toml
  crates/ouroboros-cli/src/main.rs
  crates/ouroboros-pyloop/src/dns.rs
  crates/ouroboros-pyloop/src/loop_impl.rs
  crates/ouroboros-pyloop/src/network.rs
  crates/ouroboros-pyloop/src/signal.rs
  crates/ouroboros-pyloop/src/subprocess.rs
  crates/ouroboros-pyloop/src/tls.rs
  crates/ouroboros-pyloop/src/unix_socket.rs
  crates/ouroboros-validation/examples/basic_validation.rs
  crates/ouroboros-validation/examples/custom_validators.rs
  crates/ouroboros-validation/examples/discriminated_unions.rs
  crates/ouroboros-validation/examples/error_handling.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): Complete P0 critical features - Refactoring, Search, Frameworks
  CLAUDE.md
  crates/argus/Cargo.toml
  crates/argus/benches/performance.rs
  crates/argus/src/lsp/server.rs
  crates/argus/src/types/codegen.rs
  crates/argus/src/types/deep_inference.rs
  crates/argus/src/types/frameworks.rs
  crates/argus/src/types/incremental.rs
  crates/argus/src/types/refactoring.rs
  crates/argus/src/types/semantic_search.rs
  crates/argus/tests/test_deep_inference.rs
  crates/argus/tests/test_incremental_analysis.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(cli): add `ob api g` command for code generation
  crates/ouroboros-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(obpg): add transaction integration tests
  crates/ouroboros-postgres/tests/test_transaction.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

fix(obpg): use actual applied_at timestamp from database
  crates/ouroboros-postgres/src/history_vis.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(obpg): use native rust_decimal for Decimal type
  crates/ouroboros-postgres/src/row.rs
  crates/ouroboros-postgres/src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(obpg): add parallel bulk operations with Rayon
  Cargo.lock
  crates/ouroboros-postgres/Cargo.toml
  crates/ouroboros-postgres/src/bulk.rs
  crates/ouroboros-postgres/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(obpg): add connection pool metrics and monitoring
  crates/ouroboros-postgres/src/lib.rs
  crates/ouroboros-postgres/src/metrics.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(obpg): add back-reference loading for relationships
  crates/ouroboros-postgres/src/backref.rs
  crates/ouroboros-postgres/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

chore: update agentd configs and add change artifacts
  .claude/skills/agentd-impl/SKILL.md
  .claude/skills/agentd-plan/SKILL.md
  .gemini/commands/agentd/proposal.toml
  .gemini/settings.json
  CLAUDE.md
  agentd/.version
  agentd/changes/obpg-tx-integration-tests-2/AGENTS.md
  agentd/changes/obpg-tx-integration-tests-2/GEMINI.md
  agentd/changes/obpg-tx-integration-tests-2/REVIEW.md
  agentd/changes/obpg-tx-integration-tests-2/STATE.yaml
  agentd/changes/obpg-tx-integration-tests-2/proposal.md
  agentd/changes/obpg-tx-integration-tests-2/specs/obpg-transaction-tests.md
  agentd/changes/obpg-tx-integration-tests-2/tasks.md
  agentd/changes/obpg-tx-integration-tests/clarifications.md
  agentd/config.toml
  agentd/knowledge/index.md
Due: none

docs(obpg): add PostgreSQL setup instructions and complete tx tests change
  agentd/changes/obpg-tx-integration-tests-2/STATE.yaml
  agentd/changes/obpg-tx-integration-tests-2/proposal.md
  agentd/changes/obpg-tx-integration-tests-2/specs/obpg-transaction-tests.md
  agentd/changes/obpg-tx-integration-tests-2/tasks.md
  crates/ouroboros-postgres/README.md
Due: none

refactor(cli): extract API commands into separate module
  Cargo.lock
  crates/ouroboros-cli/Cargo.toml
  crates/ouroboros-cli/src/api/app.rs
  crates/ouroboros-cli/src/api/config.rs
  crates/ouroboros-cli/src/api/core.rs
  crates/ouroboros-cli/src/api/feat.rs
  crates/ouroboros-cli/src/api/generate.rs
  crates/ouroboros-cli/src/api/init.rs
  crates/ouroboros-cli/src/api/mod.rs
  crates/ouroboros-cli/src/api/serve.rs
  crates/ouroboros-cli/src/api/templates/infra_health_mongo.py.tmpl
  crates/ouroboros-cli/src/api/templates/infra_health_pg.py.tmpl
  crates/ouroboros-cli/src/api/templates/infra_metrics.py.tmpl
  crates/ouroboros-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(cli): add `ob api g test` command for test generation
  crates/ouroboros-cli/src/api/generate.rs
  crates/ouroboros-cli/src/api/mod.rs
  crates/ouroboros-cli/src/api/test.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

docs(agent): Add Phase 1 implementation summary
  agentd/changes/agent-framework/PHASE1_SUMMARY.md
Due: none

feat(agent): Implement Agent Framework Phase 1 MVP - Rust Core
  AGENT_FRAMEWORK_STATUS.md
  Cargo.lock
  Cargo.toml
  agentd/changes/agent-framework/clarifications.md
  crates/ouroboros-agent-core/Cargo.toml
  crates/ouroboros-agent-core/src/agent.rs
  crates/ouroboros-agent-core/src/context.rs
  crates/ouroboros-agent-core/src/error.rs
  crates/ouroboros-agent-core/src/executor.rs
  crates/ouroboros-agent-core/src/lib.rs
  crates/ouroboros-agent-core/src/state.rs
  crates/ouroboros-agent-core/src/types.rs
  crates/ouroboros-agent-llm/Cargo.toml
  crates/ouroboros-agent-llm/src/error.rs
  crates/ouroboros-agent-llm/src/lib.rs
  crates/ouroboros-agent-llm/src/openai.rs
  crates/ouroboros-agent-llm/src/provider.rs
  crates/ouroboros-agent-tools/Cargo.toml
  crates/ouroboros-agent-tools/src/error.rs
  crates/ouroboros-agent-tools/src/executor.rs
  crates/ouroboros-agent-tools/src/lib.rs
  crates/ouroboros-agent-tools/src/registry.rs
  crates/ouroboros-agent-tools/src/tool.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny
