Repository chrischeng-c4/ouroboros: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

.pre-commit-config.yaml:

# Pre-commit hooks for security scanning
# Install: pre-commit install
# Run: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        files: \.rs$|Cargo\.toml$|Cargo\.lock$

      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        pass_filenames: false
        files: \.rs$|Cargo\.toml$

      - id: bandit
        name: bandit
        entry: bandit -c .bandit.yaml -r python/data_bridge
        language: system
        pass_filenames: false
        types: [python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-redis
          - pydantic
        args: [--config-file=pyproject.toml, python/data_bridge/]
        pass_filenames: false

feat(agent): Add Python bindings (PyO3) for Agent Framework
  Cargo.lock
  crates/ouroboros/Cargo.toml
  crates/ouroboros/src/agent/mod.rs
  crates/ouroboros/src/agent/py_agent.rs
  crates/ouroboros/src/agent/py_llm.rs
  crates/ouroboros/src/agent/py_tools.rs
  crates/ouroboros/src/agent/utils.rs
  crates/ouroboros/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(agent): Add Python wrapper package, examples, and tests
  python/examples/agent/README.md
  python/examples/agent/simple_agent.py
  python/examples/agent/tool_agent.py
  python/ouroboros/__init__.py
  python/ouroboros/agent/__init__.py
  python/tests/agent/__init__.py
  python/tests/agent/test_agent_basic.py
Due: bandit

docs(agent): Add competitor analysis and gap assessment
  CLAUDE.md
  agentd/changes/agent-framework/GAP_ANALYSIS.md
Due: none

perf(argus): Add P1 M5.6 - Performance Benchmarks baseline and dead code cleanup
  crates/argus/benchmarks/README.md
  crates/argus/benchmarks/baseline_20260121.json
  crates/argus/src/types/infer.rs
  crates/argus/src/types/modules.rs
  crates/argus/src/types/refactoring.rs
  crates/argus/src/types/semantic_search.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(agent): Implement Python function tool execution (Phase 2 Critical)
  crates/ouroboros/src/agent/py_tools.rs
  python/examples/agent/tool_agent.py
  python/tests/agent/test_tool_execution.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(argus): Complete P1 M5.2 & M5.3 - Incremental Analysis & Deep Type Inference
  crates/argus/src/types/deep_inference.rs
  crates/argus/src/types/incremental.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

build: Add agent feature to pyproject.toml and create integration test
  pyproject.toml
  python/examples/agent/integration_test.py
Due: bandit

docs: Add comprehensive testing guide for agent framework
  TESTING.md
Due: none

docs: Add quick start guide and setup verification script
  QUICKSTART.md
  verify_setup.sh
Due: none

feat(argus): Complete P1 M5.4 & M5.5 - LSP Integration & Code Generation
  crates/argus/src/lsp/server.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

wip(agent): Begin Anthropic Claude provider implementation (Phase 2 Gap #1)
  crates/ouroboros-agent-llm/CLAUDE_TODO.md
  crates/ouroboros-agent-llm/src/claude.rs
  crates/ouroboros-agent-llm/src/error.rs
  crates/ouroboros-agent-llm/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(agent): Switch to gpt-4o-mini and fix tool execution
  QUICKSTART.md
  TESTING.md
  crates/ouroboros-agent-llm/src/lib.rs
  crates/ouroboros-agent-llm/src/openai.rs
  crates/ouroboros/src/agent/py_agent.rs
  crates/ouroboros/src/agent/py_tools.rs
  python/examples/agent/integration_test.py
  python/examples/agent/simple_agent.py
  verify_setup.sh
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

fix(talos): Implement single-pass TSX to JS transformation
  benchmarks/excalidraw/excalidraw_subset/test-simple.html
  benchmarks/excalidraw/package-lock.json
  benchmarks/excalidraw/package.json
  benchmarks/excalidraw/test-bundle.js
  crates/ouroboros-talos-transform/src/lib.rs
  crates/ouroboros-talos-transform/src/modules.rs
  crates/ouroboros-talos-transform/src/transform_tsx.rs
  crates/ouroboros-talos-transform/tests/debug_tsx.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(cli): implement Endpoint SSOT pattern for route generation
  crates/ouroboros-cli/src/api/app.rs
  crates/ouroboros-cli/src/api/codegen.rs
  crates/ouroboros-cli/src/api/core.rs
  crates/ouroboros-cli/src/api/feat.rs
  crates/ouroboros-cli/src/api/fields.rs
  crates/ouroboros-cli/src/api/generate.rs
  crates/ouroboros-cli/src/api/mod.rs
  crates/ouroboros-cli/src/api/test.rs
  python/ouroboros/api/__init__.py
  python/ouroboros/api/endpoint.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(cli): add multi-service support and PostgreSQL JSON fields
  crates/ouroboros-cli/src/api/core.rs
  crates/ouroboros-cli/src/api/feat.rs
  crates/ouroboros-cli/src/api/fields.rs
  crates/ouroboros-cli/src/api/generate.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

fix(argus): Remove all panic!/unwrap()/expect() from production code
  crates/argus/src/error.rs
  crates/argus/src/lib.rs
  crates/argus/src/mcp/server.rs
  crates/argus/src/syntax/parser.rs
  crates/argus/src/types/project.rs
  crates/argus/src/types/refactoring.rs
  crates/argus/src/types/ty.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(cli): add JSON Schema fields and infrastructure templates
  crates/ouroboros-cli/src/api/codegen.rs
  crates/ouroboros-cli/src/api/fields.rs
  crates/ouroboros-cli/src/api/init.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(qc): Add comprehensive agent evaluation framework with prompt templates
  Cargo.lock
  crates/ouroboros-qc/Cargo.toml
  crates/ouroboros-qc/src/agent_eval/cost.rs
  crates/ouroboros-qc/src/agent_eval/dataset.rs
  crates/ouroboros-qc/src/agent_eval/evaluator.rs
  crates/ouroboros-qc/src/agent_eval/llm_judge.rs
  crates/ouroboros-qc/src/agent_eval/mod.rs
  crates/ouroboros-qc/src/agent_eval/prompt/engine.rs
  crates/ouroboros-qc/src/agent_eval/prompt/mod.rs
  crates/ouroboros-qc/src/agent_eval/prompt/registry.rs
  crates/ouroboros-qc/src/agent_eval/prompt/template.rs
  crates/ouroboros-qc/src/agent_eval/regression.rs
  crates/ouroboros-qc/src/agent_eval/result.rs
  crates/ouroboros-qc/src/agent_eval/test_case.rs
  crates/ouroboros-qc/src/baseline.rs
  crates/ouroboros-qc/src/lib.rs
  crates/ouroboros-qc/src/reporter.rs
  crates/ouroboros-qc/templates/llm_judge/basic.yaml
  crates/ouroboros-qc/templates/llm_judge/chain_of_thought.yaml
  crates/ouroboros-qc/templates/llm_judge/few_shot.yaml
  crates/ouroboros-qc/templates/llm_judge/self_consistency.yaml
  docs/PROMPT_TEMPLATE_INTEGRATION.md
  docs/agent_eval_prompt_templates.md
  examples/agent_eval_llm_judge_templates.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(argus): Add Phase 3 M3.4 - Advanced refactoring operations
  crates/argus/src/types/refactoring.rs
  crates/argus/tests/test_refactoring_advanced.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): Complete semantic search implementation (Phase 1)
  CLAUDE.md
  crates/argus/src/lsp/server.rs
  crates/argus/src/types/semantic_search.rs
  crates/argus/tests/test_semantic_search_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): Implement rename symbol refactoring (Phase 3 M3.3)
  crates/argus/src/types/refactoring.rs
  crates/argus/tests/test_refactoring_rename.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

docs(argus): Update CLAUDE.md with Phase 3 completion status
  CLAUDE.md
Due: none

docs(argus): add competitor analysis section to CLAUDE.md
  CLAUDE.md
Due: none

feat(argus): Implement Django type provider (Phase 2 M2.2)
  crates/argus/src/types/frameworks.rs
  crates/argus/tests/test_django_type_provider.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): Integrate framework support into type inferencer (Phase 2 M2.3)
  crates/argus/src/types/deep_inference.rs
  crates/argus/src/types/frameworks.rs
  crates/argus/src/types/infer.rs
  crates/argus/tests/test_framework_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): Implement AST integration for refactoring engine (Phase 3 M3.1)
  crates/argus/src/types/mutable_ast.rs
  crates/argus/src/types/refactoring.rs
  crates/argus/tests/test_refactoring_ast.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): Implement framework detection (Phase 2 M2.1)
  crates/argus/src/types/frameworks.rs
  crates/argus/tests/test_framework_detection.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

test(argus): Add Phase 4 M4.1 - P0 integration tests
  crates/argus/tests/test_p0_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

docs(argus): Add comprehensive API documentation for P0 features
  docs/REFACTORING_API.md
  docs/SEMANTIC_SEARCH_API.md
  docs/USAGE_EXAMPLES.md
Due: none

feat(argus): Implement extract variable/function refactorings (Phase 3 M3.2)
  crates/argus/src/types/refactoring.rs
  crates/argus/tests/test_refactoring_extract.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

docs(argus): Update CLAUDE.md and add comprehensive docs README
  CLAUDE.md
  docs/README.md
Due: none

feat(argus): Add P1 M5.1 - Package Manager Integration
  crates/argus/src/types/deep_inference.rs
  crates/argus/src/types/frameworks.rs
  crates/argus/src/types/mod.rs
  crates/argus/src/types/package_managers.rs
  crates/argus/tests/fixtures/package_managers/pip_project/requirements.txt
  crates/argus/tests/fixtures/package_managers/pipenv_project/Pipfile
  crates/argus/tests/fixtures/package_managers/pipenv_project/Pipfile.lock
  crates/argus/tests/fixtures/package_managers/poetry_project/poetry.lock
  crates/argus/tests/fixtures/package_managers/poetry_project/pyproject.toml
  crates/argus/tests/fixtures/package_managers/uv_project/pyproject.toml
  crates/argus/tests/fixtures/package_managers/uv_project/uv.lock
  crates/argus/tests/test_framework_package_manager_integration.rs
  crates/argus/tests/test_package_managers.rs
  docs/README.md
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(argus): Complete P0 critical features - Refactoring, Search, Frameworks
  crates/argus/Cargo.toml
  crates/argus/benches/performance.rs
  crates/argus/src/lsp/server.rs
  crates/argus/src/types/codegen.rs
  crates/argus/src/types/deep_inference.rs
  crates/argus/src/types/frameworks.rs
  crates/argus/src/types/incremental.rs
  crates/argus/src/types/refactoring.rs
  crates/argus/src/types/semantic_search.rs
  crates/argus/tests/test_deep_inference.rs
  crates/argus/tests/test_incremental_analysis.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

fix: resolve unused code warnings across multiple crates
  crates/argus/src/types/incremental.rs
  crates/argus/src/types/narrow.rs
  crates/argus/src/types/typeshed.rs
  crates/ouroboros-agent-tools/src/tool.rs
  crates/ouroboros-cli/src/api/app.rs
  crates/ouroboros-mongodb/src/validation.rs
  crates/ouroboros-qc/src/agent_eval/llm_judge.rs
  crates/ouroboros-talos-asset/src/image_processor.rs
  crates/ouroboros-talos-bundler/src/lib.rs
  crates/ouroboros-talos-pkg-manager/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny
