Repository chrischeng-c4/ouroboros: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

bandit:
  name: bandit
  entry: bandit -c .bandit.yaml -r python/data_bridge
  language: system
  pass_filenames: false

chore: remove obsolete benchmark report files
  kv_benchmark_concurrent_fixed.html
  kv_benchmark_concurrent_fixed.json
Due: none

refactor: move agent instructions to root directory
  CLAUDE.md
  GEMINI.md
  kb/99-agents/CLAUDE.md
Due: none

feat(api): implement Rust HTTP server with Python handler bridge
  Cargo.lock
  benchmarks/API_BENCHMARK_GAP_ANALYSIS.md
  crates/data-bridge-api/Cargo.toml
  crates/data-bridge-api/SERVER_README.md
  crates/data-bridge-api/examples/simple_server.rs
  crates/data-bridge-api/src/lib.rs
  crates/data-bridge-api/src/router.rs
  crates/data-bridge-api/src/server.rs
  crates/data-bridge/src/api.rs
  dev-docs/80-api-server/00-architecture.md
  dev-docs/80-api-server/01-implementation.md
  dev-docs/80-api-server/handler-invocation-implementation.md
  openspec/changes/add-api-benchmarks/proposal.md
  openspec/changes/add-api-benchmarks/specs/api-server/spec.md
  openspec/changes/add-api-benchmarks/tasks.md
  openspec/changes/complete-api-python-integration/design.md
  openspec/changes/complete-api-python-integration/proposal.md
  openspec/changes/complete-api-python-integration/specs/api-server/spec.md
  openspec/changes/complete-api-python-integration/tasks.md
  openspec/changes/document-api-server/proposal.md
  openspec/changes/document-api-server/specs/api-server/spec.md
  openspec/changes/document-api-server/tasks.md
  pyproject.toml
  python/data_bridge/api/app.py
  test_rust_server.py
  tests/api/benchmarks/README.md
  tests/api/benchmarks/__init__.py
  tests/api/benchmarks/bench_gil.py
  tests/api/benchmarks/bench_latency.py
  tests/api/benchmarks/bench_serialization.py
  tests/api/benchmarks/bench_throughput.py
  tests/api/benchmarks/benchmark_setup.py
  tests/api/benchmarks/conftest.py
  tests/api/benchmarks/run_benchmarks.py
  tests/api/benchmarks/test_api_benchmarks.py
  tests/api/test_handler_invocation.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(api): complete Python handler integration with benchmarks
  crates/data-bridge-api/src/server.rs
  crates/data-bridge-api/src/validation.rs
  crates/data-bridge/src/api.rs
  openspec/changes/complete-api-python-integration/tasks.md
  tests/api/benchmarks/bench_gil.py
  tests/api/benchmarks/bench_latency.py
  tests/api/benchmarks/bench_serialization.py
  tests/api/benchmarks/bench_throughput.py
  tests/api/benchmarks/conftest.py
  tests/api/benchmarks/test_api_benchmarks.py
  tests/api/test_handler_integration.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

chore(openspec): archive complete-api-python-integration
  openspec/changes/.archive/complete-api-python-integration/design.md
  openspec/changes/.archive/complete-api-python-integration/proposal.md
  openspec/changes/.archive/complete-api-python-integration/specs/api-server/spec.md
  openspec/changes/.archive/complete-api-python-integration/tasks.md
  openspec/project.md
  openspec/specs/api-server/spec.md
Due: none

chore(openspec): archive add-api-benchmarks and document-api-server
  openspec/changes/.archive/add-api-benchmarks/proposal.md
  openspec/changes/.archive/add-api-benchmarks/specs/api-server/spec.md
  openspec/changes/.archive/add-api-benchmarks/tasks.md
  openspec/changes/.archive/document-api-server/proposal.md
  openspec/changes/.archive/document-api-server/specs/api-server/spec.md
  openspec/changes/.archive/document-api-server/tasks.md
  openspec/specs/api-server/spec.md
Due: none

feat(postgres): prepare data-bridge-postgres for 0.1.0-alpha release
  Cargo.lock
  crates/data-bridge-postgres/Cargo.toml
  crates/data-bridge-postgres/README.md
  crates/data-bridge-postgres/benches/README.md
  crates/data-bridge-postgres/benches/main.rs
  crates/data-bridge-postgres/src/connection.rs
  crates/data-bridge-postgres/src/lib.rs
  crates/data-bridge-postgres/src/migration.rs
  crates/data-bridge-postgres/src/query.rs
  crates/data-bridge-postgres/src/schema.rs
  crates/data-bridge-postgres/src/transaction.rs
  crates/data-bridge-postgres/tests/test_migration.rs
  crates/data-bridge-postgres/tests/test_schema.rs
  openspec/changes/prepare-postgres-prerelease/proposal.md
  openspec/changes/prepare-postgres-prerelease/specs/postgres-orm/spec.md
  openspec/changes/prepare-postgres-prerelease/tasks.md
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

docs(postgres): add comprehensive PostgreSQL ORM documentation
  docs/postgres/api.md
  docs/postgres/guides/aggregation.md
  docs/postgres/guides/caching.md
  docs/postgres/guides/events.md
  docs/postgres/guides/indexes.md
  docs/postgres/guides/inheritance.md
  docs/postgres/guides/migrations.md
  docs/postgres/guides/querying.md
  docs/postgres/guides/raw_sql.md
  docs/postgres/guides/state_management.md
  docs/postgres/guides/tables_and_columns.md
  docs/postgres/guides/transactions.md
  docs/postgres/guides/validation.md
  docs/postgres/quickstart.md
  openspec/changes/add-postgres-documentation/proposal.md
  openspec/changes/add-postgres-documentation/specs/postgres-orm/spec.md
  openspec/changes/add-postgres-documentation/tasks.md
Due: none

perf(api): consolidate GIL acquisitions in handler invocation
  crates/data-bridge/src/api.rs
  openspec/changes/optimize-api-performance/tasks.md
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

perf(api): optimize async handler with thread-local event loop and data-bridge-test benchmarks
  crates/data-bridge/src/api.rs
  tests/api/benchmarks/README.md
  tests/api/benchmarks/bench_comparison_rust.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

perf(api): implement proper into_future() for async Python handlers
  crates/data-bridge/src/api.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

perf(api): optimize request handling with sonic-rs and zero-copy bytes
  Cargo.lock
  crates/data-bridge-api/Cargo.toml
  crates/data-bridge-api/src/request.rs
  crates/data-bridge-api/src/server.rs
  openspec/changes/optimize-api-performance/design.md
  openspec/changes/optimize-api-performance/proposal.md
  openspec/changes/optimize-api-performance/specs/api-server/spec.md
  openspec/changes/optimize-api-performance/tasks.md
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(pyloop): add Phase 5 middleware architecture and CORS support
  PHASE5_IMPLEMENTATION_COMPLETE.md
  PYLOOP_PHASE5_SUMMARY.md
  examples/pyloop_middleware_example.py
  python/data_bridge/pyloop/__init__.py
  tests/test_pyloop_middleware.py
  tests/test_pyloop_middleware_integration.py
  verify_phase5.py
Due: bandit

feat(api): implement PyLoop HTTP server integration (Phase 1)
  Cargo.lock
  crates/data-bridge-api/Cargo.toml
  crates/data-bridge-api/PYTHON_INTEGRATION.md
  crates/data-bridge-api/examples/python_handler_example.rs
  crates/data-bridge-api/src/lib.rs
  crates/data-bridge-api/src/python_handler.rs
  crates/data-bridge-api/src/router.rs
  crates/data-bridge-api/src/server.rs
  crates/data-bridge-pyloop/src/loop_impl.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(pyloop): support positional prefix argument in crud_routes
  examples/pyloop_crud_example.py
  python/data_bridge/pyloop/__init__.py
  tests/test_pyloop_crud.py
Due: bandit

Revert "perf(api): implement proper into_future() for async Python handlers"
  crates/data-bridge/src/api.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(pyloop): implement lock-free extraction optimization (Phase 3.1.4)
  PYLOOP_PHASE3.1.4_SUMMARY.md
  crates/data-bridge-pyloop/src/loop_impl.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

docs(openspec): update optimize-api-performance with Phase 3-4 results
  openspec/changes/optimize-api-performance/tasks.md
Due: none

perf(api): optimize query parameter parsing with zero-copy Cow strings
  crates/data-bridge-api/src/server.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(pyloop): implement adaptive sleep optimization (Phase 3.1.2)
  PYLOOP_PHASE3.1.2_SUMMARY.md
  crates/data-bridge-pyloop/src/loop_impl.rs
  crates/data-bridge-pyloop/src/timer_wheel.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(pyloop): add Phase 3 declarative CRUD DSL
  PYLOOP_PHASE3_CRUD_SUMMARY.md
  docs/PYLOOP_CRUD.md
  examples/pyloop_crud_example.py
  python/data_bridge/pyloop/__init__.py
  tests/test_pyloop_crud.py
Due: bandit

perf(api): optimize request_to_py_dict with lazy PyDict creation
  crates/data-bridge/src/api.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

docs(openspec): enhance PyLoop HTTP server proposal with missing details
  openspec/changes/integrate-pyloop-http-server/design.md
  openspec/changes/integrate-pyloop-http-server/proposal.md
  openspec/changes/integrate-pyloop-http-server/tasks.md
Due: none

feat(pyloop): add Phase 2 decorator-based API entry point
  PYLOOP_PHASE2_SUMMARY.md
  crates/data-bridge-api/examples/python_handler_example.rs
  crates/data-bridge-api/src/app.rs
  crates/data-bridge-api/src/lib.rs
  examples/pyloop_decorator_example.py
  python/data_bridge/pyloop/__init__.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(pyloop): implement condvar wakeup optimization (Phase 3.1.3)
  PYLOOP_PHASE3.1.3_SUMMARY.md
  crates/data-bridge-pyloop/src/loop_impl.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

docs(openspec): add data-bridge-pyloop proposal for pure Rust event loop
  openspec/changes/implement-data-bridge-pyloop/design.md
  openspec/changes/implement-data-bridge-pyloop/proposal.md
  openspec/changes/implement-data-bridge-pyloop/specs/python-runtime/spec.md
  openspec/changes/implement-data-bridge-pyloop/tasks.md
Due: none

docs(openspec): add PyLoop HTTP server integration proposal
  openspec/changes/integrate-pyloop-http-server/design.md
  openspec/changes/integrate-pyloop-http-server/proposal.md
  openspec/changes/integrate-pyloop-http-server/specs/api-server/spec.md
  openspec/changes/integrate-pyloop-http-server/tasks.md
Due: none

docs(openspec): add Gemini analysis for future optimization opportunities
  openspec/changes/optimize-api-performance/tasks.md
Due: none

refactor(pyloop): improve CRUD API from decorator to direct method call
  CRUD_API_REFACTOR_SUMMARY.md
  docs/PYLOOP_CRUD.md
  examples/pyloop_crud_example.py
  python/data_bridge/pyloop/__init__.py
  tests/test_pyloop_crud.py
Due: bandit

feat(pyloop): add Phase 4 error handling and resilience
  PYLOOP_PHASE4_FILES.md
  PYLOOP_PHASE4_SUMMARY.md
  examples/pyloop_error_handling_example.py
  python/data_bridge/pyloop/__init__.py
  tests/test_pyloop_errors.py
Due: bandit

docs(openspec): add PyLoop GCP observability proposal
  openspec/changes/add-pyloop-gcp-observability/design.md
  openspec/changes/add-pyloop-gcp-observability/proposal.md
  openspec/changes/add-pyloop-gcp-observability/specs/observability-gcp/spec.md
  openspec/changes/add-pyloop-gcp-observability/tasks.md
Due: none

feat(observability): implement Phase 1 - Rust Core OpenTelemetry Gateway
  Cargo.lock
  crates/data-bridge-api/Cargo.toml
  crates/data-bridge-api/src/lib.rs
  crates/data-bridge-api/src/response.rs
  crates/data-bridge-api/src/server.rs
  crates/data-bridge-api/src/telemetry.rs
  openspec/changes/add-pyloop-gcp-observability/tasks.md
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(observability): implement Phase 2 - Python OpenTelemetry Middleware
  openspec/changes/add-pyloop-gcp-observability/tasks.md
  pyproject.toml
  python/data_bridge/pyloop/__init__.py
Due: bandit

feat(observability): implement Phase 3 - GCP deployment configuration
  deploy/gcp/k8s-manifests.yaml
  deploy/gcp/otel-collector-config.yaml
  openspec/changes/add-pyloop-gcp-observability/tasks.md
Due: none

feat(observability): implement Phase 4 - verification tools and testing guide
  deploy/TESTING.md
  deploy/docker-compose.otel.yml
  deploy/otel-collector-local.yaml
  openspec/changes/add-pyloop-gcp-observability/tasks.md
  tests/verify_tracing.py
Due: bandit

refactor(observability): make OpenTelemetry an optional feature
  crates/data-bridge-api/Cargo.toml
  crates/data-bridge-api/src/lib.rs
  crates/data-bridge-api/src/server.rs
  crates/data-bridge-api/src/telemetry.rs
  deploy/OBSERVABILITY.md
  deploy/TESTING.md
  pyproject.toml
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

docs(openspec): archive completed PyLoop proposals
  openspec/changes/.archive/PYLOOP_COMPLETION_SUMMARY.md
  openspec/changes/.archive/implement-data-bridge-pyloop/design.md
  openspec/changes/.archive/implement-data-bridge-pyloop/proposal.md
  openspec/changes/.archive/implement-data-bridge-pyloop/specs/python-runtime/spec.md
  openspec/changes/.archive/implement-data-bridge-pyloop/tasks.md
  openspec/changes/.archive/integrate-pyloop-http-server/design.md
  openspec/changes/.archive/integrate-pyloop-http-server/proposal.md
  openspec/changes/.archive/integrate-pyloop-http-server/specs/api-server/spec.md
  openspec/changes/.archive/integrate-pyloop-http-server/tasks.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-audit: any of: \.rs$|Cargo\.toml$|Cargo\.lock$
  cargo-deny: any of: \.rs$|Cargo\.toml$
  bandit: any of: \.py$
