Repository chrischeng-c4/ouroboros: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

bandit:
  name: bandit
  entry: bandit -c .bandit.yaml -r python/data_bridge
  language: system
  pass_filenames: false

feat(postgres): add eager loading with selectinload to prevent N+1 queries
  PHASE3_IMPLEMENTATION_SUMMARY.md
  python/data_bridge/postgres/options.py
  python/data_bridge/postgres/query.py
Due: bandit

feat(postgres): add PostgreSQL extensions for 99% ORM coverage
  PHASE4_IMPLEMENTATION_SUMMARY.md
  docs/POSTGRESQL_EXTENSIONS.md
  python/data_bridge/postgres/arrays.py
  python/data_bridge/postgres/fulltext.py
  python/data_bridge/postgres/postgis.py
  tests/postgres/integration/test_pg_extensions.py
  tests/postgres/unit/test_pg_extensions_unit.py
Due: bandit

feat(test): expand payload database with 5 new security categories
  crates/data-bridge-test/TODOS.md
  crates/data-bridge-test/examples/payload_database_example.rs
  crates/data-bridge-test/src/security/payloads.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(test): complete Phase 1 with adaptive sampling and baseline metrics
  .gitignore
  ADAPTIVE_SAMPLING.md
  crates/data-bridge-test/TODOS.md
  crates/data-bridge-test/examples/adaptive_benchmark_demo.rs
  crates/data-bridge-test/examples/baseline_demo.rs
  crates/data-bridge-test/src/assertions.rs
  crates/data-bridge-test/src/baseline.rs
  crates/data-bridge-test/src/benchmark.rs
  crates/data-bridge-test/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(kv-batch): implement batch operations (MGET, MSET, MDEL)
  Cargo.lock
  crates/data-bridge-kv-client/src/client.rs
  crates/data-bridge-kv-client/src/protocol.rs
  crates/data-bridge-kv-server/src/protocol.rs
  crates/data-bridge-kv-server/src/server.rs
  crates/data-bridge-kv/Cargo.toml
  crates/data-bridge-kv/examples/batch_operations.rs
  crates/data-bridge-kv/src/engine.rs
  crates/data-bridge/src/kv.rs
  kb/60-kv-store/02-protocol.md
  kb/60-kv-store/05-quick-start.md
  kb/60-kv-store/09-todos.md
  kb/60-kv-store/10-batch-operations-implementation.md
  kb/60-kv-store/benchmarks/03-python-bench-suite.md
  kb/60-kv-store/benchmarks/04-batch-operations-results.md
  kb/60-kv-store/components/01-client-readme.md
  kb/60-kv-store/components/02-server-readme.md
  python/data_bridge/kv/__init__.py
  tests/kv/test_batch_operations.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(kv-persistence): implement WAL persistence with crash-safe durability
  Cargo.lock
  crates/data-bridge-kv/Cargo.toml
  crates/data-bridge-kv/src/engine.rs
  crates/data-bridge-kv/src/lib.rs
  crates/data-bridge-kv/src/persistence/format.rs
  crates/data-bridge-kv/src/persistence/handle.rs
  crates/data-bridge-kv/src/persistence/mod.rs
  crates/data-bridge-kv/src/persistence/recovery.rs
  crates/data-bridge-kv/src/persistence/snapshot.rs
  crates/data-bridge-kv/src/persistence/wal.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(test): implement latency percentiles with histogram and tail ratio
  crates/data-bridge-test/TODOS.md
  crates/data-bridge-test/examples/README.md
  crates/data-bridge-test/examples/baseline_demo.rs
  crates/data-bridge-test/examples/latency_percentiles_demo.rs
  crates/data-bridge-test/src/baseline.rs
  crates/data-bridge-test/src/benchmark.rs
  crates/data-bridge-test/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

docs(kv): update KB with WAL persistence implementation
  kb/00-overview/03-global-todos.md
  kb/60-kv-store/09-roadmap.md
  kb/60-kv-store/11-wal-persistence-implementation.md
  kb/60-kv-store/index.md
Due: none

feat(postgres): add OpenTelemetry integration core module
  python/data_bridge/postgres/__init__.py
  python/data_bridge/postgres/telemetry.py
  tests/postgres/test_telemetry.py
Due: bandit

feat(postgres): add OpenTelemetry spans for query and session operations
  python/data_bridge/postgres/query.py
  python/data_bridge/postgres/session.py
Due: bandit

feat(postgres): add OpenTelemetry spans for relationship loading
  python/data_bridge/postgres/options.py
  python/data_bridge/postgres/relationships.py
Due: bandit

docs(postgres): add comprehensive OpenTelemetry documentation
  docs/OPENTELEMETRY.md
  docs/SPAN_HIERARCHY.md
  docs/TELEMETRY_RELATIONSHIPS.md
  docs/telemetry.md
Due: none

docs(postgres): add production-ready FastAPI + OpenTelemetry examples
  examples/Dockerfile
  examples/FASTAPI_OTEL_INDEX.md
  examples/QUICKSTART_FASTAPI_OTEL.md
  examples/README_FASTAPI_OTEL.md
  examples/TRACE_EXAMPLES.md
  examples/docker-compose.yml
  examples/fastapi_otel_example.py
  examples/otel_backends.env.example
  examples/telemetry_example.py
  examples/test_fastapi_otel.py
Due: bandit

docs(kb): update knowledge base with OpenTelemetry integration
  kb/40-postgres/TODOS.md
  kb/40-postgres/index.md
  kb/40-postgres/operations/OPENTELEMETRY.md
  kb/index.md
Due: none

feat(kv-batch): implement batch operations (MGET, MSET, MDEL) (#10)
  Cargo.lock
  crates/data-bridge-kv-client/src/client.rs
  crates/data-bridge-kv-client/src/protocol.rs
  crates/data-bridge-kv-server/src/protocol.rs
  crates/data-bridge-kv-server/src/server.rs
  crates/data-bridge-kv/Cargo.toml
  crates/data-bridge-kv/examples/batch_operations.rs
  crates/data-bridge-kv/src/engine.rs
  crates/data-bridge-kv/src/lib.rs
  crates/data-bridge-kv/src/persistence/format.rs
  crates/data-bridge-kv/src/persistence/handle.rs
  crates/data-bridge-kv/src/persistence/mod.rs
  crates/data-bridge-kv/src/persistence/recovery.rs
  crates/data-bridge-kv/src/persistence/snapshot.rs
  crates/data-bridge-kv/src/persistence/wal.rs
  crates/data-bridge/src/kv.rs
  kb/60-kv-store/02-protocol.md
  kb/60-kv-store/05-quick-start.md
  kb/60-kv-store/09-todos.md
  kb/60-kv-store/10-batch-operations-implementation.md
  kb/60-kv-store/benchmarks/03-python-bench-suite.md
  kb/60-kv-store/benchmarks/04-batch-operations-results.md
  kb/60-kv-store/components/01-client-readme.md
  kb/60-kv-store/components/02-server-readme.md
  python/data_bridge/kv/__init__.py
  tests/kv/test_batch_operations.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(api): implement data-bridge-api framework (Phases 1-4)
  Cargo.lock
  Cargo.toml
  crates/data-bridge-api/Cargo.toml
  crates/data-bridge-api/examples/openapi_example.rs
  crates/data-bridge-api/examples/validation_example.rs
  crates/data-bridge-api/src/app.rs
  crates/data-bridge-api/src/dependency.rs
  crates/data-bridge-api/src/error.rs
  crates/data-bridge-api/src/extractors.rs
  crates/data-bridge-api/src/handler.rs
  crates/data-bridge-api/src/lib.rs
  crates/data-bridge-api/src/middleware.rs
  crates/data-bridge-api/src/openapi.rs
  crates/data-bridge-api/src/request.rs
  crates/data-bridge-api/src/response.rs
  crates/data-bridge-api/src/router.rs
  crates/data-bridge-api/src/validation.rs
  crates/data-bridge/Cargo.toml
  crates/data-bridge/src/api.rs
  crates/data-bridge/src/lib.rs
  python/data_bridge/api/__init__.py
  python/data_bridge/api/app.py
  python/data_bridge/api/dependencies.py
  python/data_bridge/api/exceptions.py
  python/data_bridge/api/openapi.py
  python/data_bridge/api/response.py
  python/data_bridge/api/type_extraction.py
  python/data_bridge/api/types.py
  tests/integration/test_api_di_integration.py
  tests/unit/test_api_dependencies.py
  tests/unit/test_api_openapi.py
  tests/unit/test_api_type_extraction.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(api): implement Phase 5 - API Models & HTTP Client Integration
  python/data_bridge/api/__init__.py
  python/data_bridge/api/app.py
  python/data_bridge/api/context.py
  python/data_bridge/api/dependencies.py
  python/data_bridge/api/http_integration.py
  python/data_bridge/api/models.py
  python/data_bridge/api/type_extraction.py
  tests/api/__init__.py
  tests/api/test_http_integration.py
  tests/api/test_models.py
  tests/api/test_models_integration.py
Due: bandit

docs: update TODOS.md with data-bridge-api roadmap
  TODOS.md
Due: none

docs: mark Phase 5 (API Models & HTTP Client) as completed
  TODOS.md
Due: none

feat(P6): type consolidation and security fixes
  TODOS.md
  crates/data-bridge-api/src/lib.rs
  crates/data-bridge-api/src/request.rs
  crates/data-bridge-api/src/response.rs
  crates/data-bridge-common/src/http.rs
  crates/data-bridge-common/src/lib.rs
  crates/data-bridge-http/src/error.rs
  crates/data-bridge-http/src/lib.rs
  crates/data-bridge-http/src/request.rs
  crates/data-bridge-http/src/response.rs
  crates/data-bridge/src/http.rs
  examples/OPENAPI_README.md
  examples/api_models_example.py
  examples/api_type_extraction_demo.py
  examples/http_client_example.py
  examples/openapi_demo.py
  python/data_bridge/api/response.py
  python/data_bridge/common/__init__.py
  python/data_bridge/common/http.py
  tests/unit/test_common_http.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(P7-0): K8s-first production features
  Cargo.lock
  TODOS.md
  crates/data-bridge-api/Cargo.toml
  crates/data-bridge-api/src/response.rs
  examples/health_example.py
  examples/shutdown_example.py
  python/data_bridge/api/__init__.py
  python/data_bridge/api/app.py
  python/data_bridge/api/health.py
  python/data_bridge/api/http_integration.py
  tests/unit/test_api_shutdown.py
  tests/unit/test_health.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(P7-1): implement middleware, CORS, background tasks, and lifespan
  examples/background_tasks_example.py
  python/data_bridge/api/__init__.py
  python/data_bridge/api/app.py
  python/data_bridge/api/background.py
  python/data_bridge/api/middleware.py
  tests/unit/test_background.py
  tests/unit/test_background_integration.py
  tests/unit/test_lifespan.py
  tests/unit/test_middleware.py
Due: bandit

feat(P7-2): implement file upload, form data, and app.run()
  Cargo.lock
  Cargo.toml
  crates/data-bridge-api/Cargo.toml
  crates/data-bridge-api/examples/form_upload_example.rs
  crates/data-bridge-api/src/request.rs
  examples/form_upload_example.py
  examples/run_example.py
  python/data_bridge/api/__init__.py
  python/data_bridge/api/app.py
  python/data_bridge/api/forms.py
  tests/api/test_run.py
  tests/unit/test_forms.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

docs: mark P7-1 items as complete (2026-01-05)
  TODOS.md
Due: none

docs: move TODOS.md to api crate and mark Phase 7 complete
  crates/data-bridge-api/TODOS.md
Due: none

docs: mark P7-2 items as complete (2026-01-05)
  TODOS.md
Due: none

fix: remove non-existent kv_benchmark bench definition
  crates/data-bridge-kv/Cargo.toml
Due: cargo-audit, cargo-deny

feat(test): implement zero-copy serialization with rkyv for 44x faster baseline loading
  Cargo.lock
  crates/data-bridge-test/Cargo.toml
  crates/data-bridge-test/TODOS.md
  crates/data-bridge-test/benches/serialization_benchmark.rs
  crates/data-bridge-test/src/baseline.rs
  crates/data-bridge-test/src/benchmark.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(kv): add comprehensive persistence integration tests (Phase 7)
  crates/data-bridge-kv-server/src/main.rs
  crates/data-bridge-kv/src/engine.rs
  crates/data-bridge-kv/tests/persistence_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(kv): complete WAL persistence implementation - Phase 8 Polish ✅
  crates/data-bridge-kv-server/src/server.rs
  crates/data-bridge-kv/src/persistence/format.rs
  crates/data-bridge-kv/src/persistence/handle.rs
  crates/data-bridge-kv/src/persistence/recovery.rs
  crates/data-bridge-kv/src/persistence/snapshot.rs
  kb/60-kv-store/09-roadmap.md
  kb/60-kv-store/11-wal-persistence-implementation.md
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat: add OpenSpec workflow automation with skills
  .claude/skills/openspec-apply/SKILL.md
  .claude/skills/openspec-archive/SKILL.md
  .claude/skills/openspec-proposal/SKILL.md
  .claude/skills/openspec-proposal/scripts/generate-proposal.sh
  .gemini/commands/openspec/apply.toml
  .gemini/commands/openspec/archive.toml
  .gemini/commands/openspec/proposal.toml
  .gemini/settings.json
  AGENTS.md
  CLAUDE.md
  openspec/AGENTS.md
  openspec/project.md
Due: none

feat: initialize OpenSpec workflow system with AI collaboration tools
  openspec/project.md
Due: none

feat: add comprehensive OpenSpec specifications for all major capabilities
  openspec/specs/http-client/spec.md
  openspec/specs/kv-store/spec.md
  openspec/specs/mongodb-orm/spec.md
  openspec/specs/observability/spec.md
  openspec/specs/postgres-orm/spec.md
  openspec/specs/spreadsheet-engine/spec.md
  openspec/specs/task-queue/spec.md
  openspec/specs/test-framework/spec.md
Due: none

refactor: archive legacy documentation files to docs/archive/
  docs/archive/ADAPTIVE_SAMPLING.md
  docs/archive/AGENTS.md
  docs/archive/MIGRATION_MAP.md
  docs/archive/OPENTELEMETRY.md
  docs/archive/PHASE2_LAZY_LOADING_IMPLEMENTATION.md
  docs/archive/PHASE3_IMPLEMENTATION_SUMMARY.md
  docs/archive/PHASE4_IMPLEMENTATION_SUMMARY.md
  docs/archive/PHASE5_SUMMARY.md
  docs/archive/PHASE7_IMPLEMENTATION_SUMMARY.md
  docs/archive/POSTGRESQL_EXTENSIONS.md
  docs/archive/README.md
  docs/archive/SHEET_ARCHITECTURE.md
  docs/archive/SHEET_CONTRIBUTING.md
  docs/archive/SHEET_README.md
  docs/archive/SPAN_HIERARCHY.md
  docs/archive/TELEMETRY_RELATIONSHIPS.md
  docs/archive/canvas_primitives.md
  docs/archive/kv_benchmark_concurrent_fixed.md
  docs/archive/postgres_inheritance.md
  docs/archive/postgres_migrations.md
  docs/archive/postgres_raw_sql.md
  docs/archive/postgres_transactions.md
  docs/archive/telemetry.md
Due: none

docs: rewrite GEMINI.md for OpenSpec proposal workflow
  kb/99-agents/GEMINI.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-audit: any of: \.rs$|Cargo\.toml$|Cargo\.lock$
  cargo-deny: any of: \.rs$|Cargo\.toml$
  bandit: any of: \.py$
