Repository chrischeng-c4/ouroboros: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

.pre-commit-config.yaml:

# Pre-commit hooks for security scanning
# Install: pre-commit install
# Run: pre-commit run --all-files

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        files: \.rs$|Cargo\.toml$|Cargo\.lock$

      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        pass_filenames: false
        files: \.rs$|Cargo\.toml$

      - id: bandit
        name: bandit
        entry: bandit -c .bandit.yaml -r python/data_bridge
        language: system
        pass_filenames: false
        types: [python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-redis
          - pydantic
        args: [--config-file=pyproject.toml, python/data_bridge/]
        pass_filenames: false

feat(P2): complete all P2 medium priority items
  TODOS.md
  crates/data-bridge-postgres/src/row.rs
  crates/data-bridge-postgres/src/types.rs
  crates/data-bridge-postgres/tests/test_relations.rs
  crates/data-bridge/src/postgres.rs
  examples/postgres_raw_sql.py
  python/data_bridge/mongodb/connection.py
  python/data_bridge/postgres/connection.py
  tests/postgres/integration/test_cascade_delete.py
  tests/postgres/unit/test_autogenerate_migration.py
  tests/postgres/unit/test_security.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(P3): implement BackReference, on_delete/on_update, and savepoints
  TODOS.md
  crates/data-bridge-postgres/src/transaction.rs
  crates/data-bridge/src/postgres.rs
  docs/postgres/relationships.md
  python/data_bridge/postgres/__init__.py
  python/data_bridge/postgres/columns.py
  python/data_bridge/postgres/transactions.py
  tests/postgres/integration/test_backreference.py
  tests/postgres/integration/test_savepoints.py
  tests/postgres/unit/test_column_cascade.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(P4): implement advanced query features (aggregations, HAVING, DISTINCT, CTEs)
  crates/data-bridge-postgres/src/lib.rs
  crates/data-bridge-postgres/src/query.rs
  crates/data-bridge/src/postgres.rs
  examples/postgres_aggregates.py
  python/data_bridge/postgres/__init__.py
  python/data_bridge/postgres/connection.py
  python/data_bridge/postgres/query.py
  tests/postgres/integration/test_aggregate_integration.py
  tests/postgres/unit/test_aggregate.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(P4-5): implement subquery support for WHERE clauses
  crates/data-bridge-postgres/src/query.rs
  crates/data-bridge/src/postgres.rs
  python/data_bridge/postgres/__init__.py
  python/data_bridge/postgres/connection.py
  python/data_bridge/postgres/query.py
  tests/postgres/integration/test_subquery.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(P4-6): implement window functions and complete P4-QUERY series
  TODOS.md
  crates/data-bridge-postgres/src/lib.rs
  crates/data-bridge-postgres/src/query.rs
  crates/data-bridge/src/postgres.rs
  python/data_bridge/postgres/query.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(P4): complete remaining P4-QUERY features (UNION, JSONB, RETURNING)
  TODOS.md
  crates/data-bridge-postgres/src/query.rs
  crates/data-bridge/src/postgres.rs
  python/data_bridge/postgres/query.py
  python/data_bridge/postgres/table.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

test(P4): add 100+ integration tests for advanced query features (P4-QUERY-11)
  TODOS.md
  tests/postgres/integration/test_cte_integration.py
  tests/postgres/integration/test_distinct_integration.py
  tests/postgres/integration/test_jsonb_integration.py
  tests/postgres/integration/test_returning_integration.py
  tests/postgres/integration/test_set_operations_integration.py
  tests/postgres/integration/test_window_integration.py
Due: bandit

docs(P5): add SQLAlchemy parity roadmap (43 features)
  TODOS.md
Due: none

feat(P4-M2M): implement Many-to-Many relationships
  TODOS.md
  crates/data-bridge-postgres/src/lib.rs
  crates/data-bridge-postgres/src/row.rs
  crates/data-bridge-postgres/src/schema.rs
  crates/data-bridge/src/postgres.rs
  python/data_bridge/postgres/__init__.py
  python/data_bridge/postgres/columns.py
  tests/postgres/integration/test_m2m_integration.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(P5-ORM): implement Session and Unit of Work pattern
  TODOS.md
  python/data_bridge/postgres/__init__.py
  python/data_bridge/postgres/session.py
  tests/postgres/unit/test_session.py
Due: bandit

feat(P5-EVENT): implement SQLAlchemy-style event system
  TODOS.md
  python/data_bridge/postgres/__init__.py
  python/data_bridge/postgres/events.py
  tests/postgres/unit/test_events.py
Due: bandit

feat(kv): add core KV engine with sharded storage
  crates/data-bridge-kv/Cargo.toml
  crates/data-bridge-kv/benches/kv_bench.rs
  crates/data-bridge-kv/src/engine.rs
  crates/data-bridge-kv/src/error.rs
  crates/data-bridge-kv/src/lib.rs
  crates/data-bridge-kv/src/types.rs
  crates/data-bridge-kv/todos.md
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(kv): add TCP server with binary protocol
  crates/data-bridge-kv-server/Cargo.toml
  crates/data-bridge-kv-server/QUICK_START.md
  crates/data-bridge-kv-server/README.md
  crates/data-bridge-kv-server/src/main.rs
  crates/data-bridge-kv-server/src/protocol.rs
  crates/data-bridge-kv-server/src/server.rs
  crates/data-bridge-kv-server/tests/integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(kv): add TCP client with PyO3 bindings
  crates/data-bridge-kv-client/Cargo.toml
  crates/data-bridge-kv-client/README.md
  crates/data-bridge-kv-client/examples/basic_usage.rs
  crates/data-bridge-kv-client/src/client.rs
  crates/data-bridge-kv-client/src/lib.rs
  crates/data-bridge-kv-client/src/protocol.rs
  crates/data-bridge/src/kv.rs
  python/data_bridge/kv/__init__.py
  python/data_bridge/kv/py.typed
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

docs(kv): add KV store design documentation
  kb/60-kv-store/01-architecture.md
  kb/60-kv-store/02-data-types-and-api.md
  kb/60-kv-store/03-kv-server.md
  kb/60-kv-store/index.md
  kb/60-kv-store/protocol.md
Due: none

chore(kv): update workspace config and dependencies
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  crates/data-bridge/Cargo.toml
  crates/data-bridge/src/lib.rs
  kb/00-overview/01-roadmap.md
  kb/index.md
  pyproject.toml
  python/data_bridge/__init__.py
  uv.lock
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

chore: remove obsolete task file
  .tasks/upsert_implementation.md
Due: none

docs(kv): add Lock API to roadmap (Phase 6)
  crates/data-bridge-kv/todos.md
Due: none

feat(kv): implement Lock API with Python context manager
  crates/data-bridge-kv-client/src/client.rs
  crates/data-bridge-kv-client/src/protocol.rs
  crates/data-bridge-kv-server/src/protocol.rs
  crates/data-bridge-kv-server/src/server.rs
  crates/data-bridge-kv/src/engine.rs
  crates/data-bridge-kv/src/error.rs
  crates/data-bridge-kv/todos.md
  crates/data-bridge/src/kv.rs
  python/data_bridge/kv/__init__.py
  tests/kv/__init__.py
  tests/kv/conftest.py
  tests/kv/test_lock.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

feat(kv): add namespace support via connection string
  crates/data-bridge-kv-client/src/client.rs
  crates/data-bridge/src/kv.rs
  python/data_bridge/kv/__init__.py
  tests/kv/test_namespace.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

docs(kv): add Phase 7 namespace support to todos.md
  crates/data-bridge-kv/todos.md
Due: none

feat(kv): add connection pooling, performance & security tests
  crates/data-bridge-kv-client/src/client.rs
  crates/data-bridge-kv-client/src/lib.rs
  crates/data-bridge-kv-client/src/pool.rs
  crates/data-bridge-kv/todos.md
  crates/data-bridge/src/kv.rs
  kb/60-kv-store/04-connection-pool.md
  kb/60-kv-store/index.md
  python/data_bridge/kv/__init__.py
  tests/kv/conftest.py
  tests/kv/test_benchmark.py
  tests/kv/test_security.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

fix(kv): validate TTL to prevent panic on negative values
  crates/data-bridge/src/kv.rs
  tests/kv/test_security.py
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny, bandit

docs(kv): add pool example and benchmark README
  crates/data-bridge-kv-client/examples/pool_example.rs
  tests/kv/README_BENCHMARKS.md
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(P5-LOAD): implement SQLAlchemy-style loading strategies
  TODOS.md
  python/data_bridge/postgres/__init__.py
  python/data_bridge/postgres/loading.py
  tests/postgres/unit/test_loading.py
Due: bandit

feat(P5-INHERIT): implement SQLAlchemy-style table inheritance patterns
  TODOS.md
  docs/postgres_inheritance.md
  python/data_bridge/postgres/__init__.py
  python/data_bridge/postgres/inheritance.py
  tests/postgres/unit/test_inheritance.py
Due: bandit

feat(P5-COMPUTED): implement SQLAlchemy-style computed attributes
  TODOS.md
  python/data_bridge/postgres/__init__.py
  python/data_bridge/postgres/computed.py
  python/data_bridge/postgres/table.py
  tests/postgres/unit/test_computed.py
Due: bandit

feat(P5-QUERY): implement SQLAlchemy-style query builder enhancements
  TODOS.md
  python/data_bridge/postgres/__init__.py
  python/data_bridge/postgres/query.py
  python/data_bridge/postgres/query_ext.py
  tests/postgres/unit/test_query_ext.py
Due: bandit

feat(P5-VALID): implement SQLAlchemy-style ORM validation
  TODOS.md
  python/data_bridge/postgres/__init__.py
  python/data_bridge/postgres/validation.py
  tests/postgres/unit/test_validation.py
Due: bandit

feat(P5-ASYNC): implement SQLAlchemy-style async enhancements
  TODOS.md
  python/data_bridge/postgres/__init__.py
  python/data_bridge/postgres/async_utils.py
  tests/postgres/unit/test_async_utils.py
Due: bandit

docs: add P5 completion summary to TODOS
  crates/data-bridge-postgres/TODOS.md
Due: none

draft
  benchmarks/bench_postgres_comparison.py
  examples/inheritance_example.py
  examples/postgres_computed_attributes_no_db.py
  examples/postgres_query_ext_examples.py
  examples/postgres_validation_example.py
Due: bandit

chore(postgres-docs): reorganize PostgreSQL docs into knowledge base structure
  kb/40-postgres/TODOS.md
  kb/40-postgres/index.md
  kb/40-postgres/operations/LOGGING.md
  kb/40-postgres/safety/PANIC_SAFETY.md
  kb/40-postgres/security/PASSWORD_SECURITY.md
  kb/40-postgres/security/SECURITY_ERROR_MESSAGES.md
  kb/40-postgres/security/SQL_INJECTION_AUDIT.md
Due: none

feat(test): enhance JUnit XML reporter with CI/CD integration
  .github/workflows/test-with-junit.yml
  crates/data-bridge-test/docs/junit-integration.md
  crates/data-bridge-test/examples/README.md
  crates/data-bridge-test/examples/junit_reporter_example.rs
  crates/data-bridge-test/src/reporter.rs
  crates/data-bridge-test/tests/junit_example.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(test): implement parallel test discovery with jwalk
  Cargo.lock
  Cargo.toml
  crates/data-bridge-http/src/request.rs
  crates/data-bridge-test/Cargo.toml
  crates/data-bridge-test/TODOS.md
  crates/data-bridge-test/benches/discovery_benchmark.rs
  crates/data-bridge-test/src/discovery.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(test): implement PyO3 boundary tracing infrastructure
  crates/data-bridge-test/IMPLEMENTATION_SUMMARY.md
  crates/data-bridge-test/TODOS.md
  crates/data-bridge-test/docs/boundary-tracing.md
  crates/data-bridge-test/examples/boundary_tracing.rs
  crates/data-bridge-test/src/lib.rs
  crates/data-bridge-test/src/performance/boundary.rs
  crates/data-bridge-test/src/performance/mod.rs
  crates/data-bridge-test/src/performance/profiler.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(test): implement async fuzzer for network endpoint testing
  crates/data-bridge-test/Cargo.toml
  crates/data-bridge-test/TODOS.md
  crates/data-bridge-test/examples/async_fuzzing_example.rs
  crates/data-bridge-test/src/lib.rs
  crates/data-bridge-test/src/security/async_fuzzer.rs
  crates/data-bridge-test/src/security/mod.rs
  crates/data-bridge-test/tests/async_fuzzing_test.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-deny

feat(postgres): implement automatic lazy loading for relationships
  PHASE2_LAZY_LOADING_IMPLEMENTATION.md
  python/data_bridge/postgres/__init__.py
  python/data_bridge/postgres/relationships.py
  python/data_bridge/postgres/session.py
  python/data_bridge/postgres/table.py
  tests/postgres/integration/test_lazy_loading.py
  tests/postgres/unit/test_relationship_descriptor.py
Due: bandit
